*.pdf
*.xls
*.xlsx
*.doc
*.docx
*.csv.part
*.zip
*.ods

/biblio
/CPI_AFD docs
/project/graphs


#file to exclude
TODO

#file excluded because too large
*/IOTS_21092018175401685_importcontentExport.csv


#Rstudio files

*.RData
*.Rhistory

#latex files
*.toc
*.aux
*.log
*.out
*.bbl
*.blg
*.synctex.gz
